<div class="container">
  <header class="ec-page-header clearfix">
    <h1 class="ec-page-header__title">All memories</h1>

    <div class="ec-page-header__actions clearfix">
      <div class="button-group--left">
        <label>Browse</label>
        <span class="button button--memories">Memories</span>
        <%= link_to 'Scrapbooks', scrapbooks_path, :class => "button button--scrapbooks button--inactive" %>
      </div>

      <div class="button-group--right">
        <%= link_to 'Add a memory', new_my_memory_path, :class => "button button--memories" %>
      </div>
    </div>
  </header>

  <div class="memory-list">
    <%= render partial: 'memories/index', locals: {memories: @memories} %>
  </div>
</div>
