<div class="container">
  <div class="row">
    <div class="exception">
      <h1 class="exception__header">We're sorry but something went wrong.</h1>

      <p>
        We apologise for the inconvenience. Our team have been notified and will look into it.
      </p>
    </div>
  </div>
</div>
