<div class="container">
  <div class="row">
    <div class="exception">
      <h1 class="exception__header">401 Unauthorized</h1>

      <p>
        Sorry, but you are not authorized to do that.
      </p>
    </div>
  </div>
</div>
