<div class="container">
  <div class="row">
    <div class="exception">
      <h1 class="exception__header">Sorry, but we could not process that request</h1>

      <p>
        You may have tried to change something that you don't have access to.
      </p>
      <p>
        Our team has been notified in case there has been an error within the application.
      </p>
    </div>
  </div>
</div>
